<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div id="wrapper" [ngClass]="{'toggled': sideBarStatus }" style="overflow-x:hidden">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Home
                    </a>
                </li>
                <li>
                    <a href="#">Account</a>
                </li>
                <li>
                    <a href="#">Categories</a>
                </li>
                <li><a>Mobiles & tablets
                        <span class="caret"></span>
                    </a>
                </li>
                <div style="display:block">
                       <li> 
                           <a href="#">Link 1</a>
                       </li>
                       <li> 
                            <a href="#">Link 2</a>
                        </li>
                        <li> 
                                <a href="#">Link 3</a>
                        </li>
                       
                </div>
                <li><a>Home Appliances
                        <span class="caret"></span>
                    </a>
                </li>
                <div style="display:hidden">
                       <li> 
                           <a href="#">Link 1</a>
                       </li>
                       <li> 
                            <a href="#">Link 2</a>
                        </li>
                       
                </div>
                <li><a>Home,Kitcken and tools
                        <span class="caret"></span>
                    </a>
                </li>
                <div style="display:block">
                       <li> 
                           <a href="#">Link 1</a>
                       </li>
                       <li> 
                            <a href="#">Link 2</a>
                        </li>
                       
                </div>
             </ul>
        </nav>
    </div>