<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-9 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div id="user-data">
      
          <div class="form-group row">
            <label for="email"  class="col-sm-2  col-form-label">Email Address</label>
            <input type="email"
             id="email" 
             class="form-control  col-xs-8 col-sm-6"
             ngModel
          name="Email"
          required
          email
          #email="ngModel">
          <span class="help-control row" *ngIf="!email.valid && email.touched">please enter a valid mail</span>
          </div>
        </div>
       
      <div class="form-group row">
        <label for="exampleInputPassword1"  class="col-sm-2  col-form-label">Password</label>
        <input type="password" class="form-control  col-xs-8 col-sm-6 "
         id="exampleInputPassword1" 
         placeholder="Password"
         ngModel
          name="password"
          required>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"
        ngModel
          name="Remember"
          >
        <label class="form-check-label" for="exampleCheck1" > Remeber Me
         

        </label>
      </div>
      <div class="row ">
        <a href="#" class="col-md-4" >Forget Your Password ?</a>
        
      </div>
        <div class="row ">
        <button class="btn btn-primary " type="submit"
        [disabled]="!form.valid">Sign In</button>
       
        </div>
      </form>
      <hr class="col-md-4">
      <div class="row">
      <button class="btn btn-outline-info col-md-6">Facebook</button>
      <button class="btn btn-outline-danger col-md-6">Google</button>
    </div>
    </div>
  </div>
</div>
<hr>