<div class="container" style="width:90%;height:20%;padding-top:3%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
      <div class="item active">
        <img src="http://demo.ajax-cart.com/var/photo/product/2000x4000/4/176/4.jpg" alt="Los Angeles" style="width:100%;height:300px" >
      </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>