<div class="container" style="border:1px solid black;margin-top:2%;display: block;width:50%;"   >
    <div class="row">
        <div class="col-lg-10 col-md-12">
   <!-- nesting -->

        <div class="row">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <!-- nesting -->
               
                <div class="row">   
                  <div class="col-xs-4"><img src="http://dummyimage.com/600x600/" class="img-responsive" style="padding:10%"></div>
                  <div class="col-xs-8">Product 
                                        <p>sodiosdijoisfjd</p>
                  </div>
                </div>
            </div> 
            <div class="col-md-2 col-xs-12">
                <!-- nesting -->
               <div class="row"></div>
                <div class="row">   
                 <div class="col-xs-8">
                   <p>10,000LE</p>
                   <p>4 available</p>
                   <button type="submit"  class="btn btn-success"  [disabled]="!form.valid" >view Product</button>
                  </div>
                </div>
            </div> 
           
           
    </div>  
    </div>